{% extends 'themes/base.html' %}

{% block theme_navbar %}
<div class="navbar-header">
    <a class="navbar-brand" href="http://langdev.org/">LangDev</a>
</div>
<ul class="nav navbar-nav">
    <li><a href="http://langdev.org/posts/">Forum</a></li>
    <li class="active"><a href="http://log.langdev.org/">Log</a></li>
    <li><a href="http://topics.langdev.org/">Topics</a></li>
    <li><a href="http://links.langdev.org/">Links</a></li>
    <li><a href="http://docs.langdev.org/">Docs</a></li>
</ul>
{% endblock %}
