body {
	padding-top: 50px; /* navbar */
}

.form-login {
	width: 330px;
	margin: 0 auto;
}

.navbar-global {
	margin-bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.navbar-log.affix-top {
	margin-bottom: 0;
	position: static;
}
.navbar-log .nav li { float: left; }
.navbar-log .current-channel,
.navbar-log .date {
	font-size: 1.2em;
	font-weight: bold;
}
.navbar-log .date.navbar-text {
	margin-top: 13px;
	margin-bottom: 13px;
}

#flags { position: fixed; right: 0; bottom: 0; margin: 10px; background-color: #fff; width: 280px; padding: 10px; border: 1px solid #000; opacity: 0.4; }
#flags h3 { margin-top: 0; }
#flags:hover { opacity: 1; }
#flags ul { margin: 0; padding: 0; list-style: none; }
#toggle-flag-mode { margin-top: 1em; }
a.flaggable { font-weight: bold; color: #7a0; }

table { border-collapse: collapse; margin-bottom: 0; width: 100%; }
tr {
	-webkit-transition: 0.1s background-color ease-in;
	-moz-transition: 0.1s background-color ease-in;
}
td { padding: 0.5em 1em; border-bottom: 1px solid #ddd; line-height: 1.4; }
.time-divider { font-weight: bold; font-size: 1.1em; border-bottom: 2px solid #999; padding-top: 1em; }
.time { font-size: 0.85em; color: #999; }
.time a { color: #999; text-decoration: none; }
.time a:hover { background-color: #ccc; color: #fff; }
.nickname { font-size: 0.9em; text-align: right; padding-right: 0; }
.nickname i { font-size: 0; color: transparent; }
.link { border: 1px solid #ddd; background-color: #f8f8f8; padding: 0.5em; margin-bottom: 2em; }
.new { font-size: xx-small; vertical-align: super; color: #000; }
.highlight { background-color: #ff0; }

/* http://jsbin.com/ijanas */
tr.color-0 .nickname { color: hsl(0, 90%, 35%); }
tr.color-1 .nickname { color: hsl(36, 90%, 35%); }
tr.color-2 .nickname { color: hsl(72, 90%, 35%); }
tr.color-3 .nickname { color: hsl(108, 90%, 35%); }
tr.color-4 .nickname { color: hsl(144, 90%, 35%); }
tr.color-5 .nickname { color: hsl(180, 90%, 35%); }
tr.color-6 .nickname { color: hsl(216, 90%, 35%); }
tr.color-7 .nickname { color: hsl(252, 90%, 35%); }
tr.color-8 .nickname { color: hsl(288, 90%, 35%); }
tr.color-9 .nickname { color: hsl(324, 90%, 35%); }
tr.color-0.selected, html.js tr.color-0 .nickname span:hover { background-color: hsl(18, 85%, 93%); }
tr.color-1.selected, html.js tr.color-1 .nickname span:hover { background-color: hsl(54, 85%, 93%); }
tr.color-2.selected, html.js tr.color-2 .nickname span:hover { background-color: hsl(90, 85%, 93%); }
tr.color-3.selected, html.js tr.color-3 .nickname span:hover { background-color: hsl(126, 85%, 93%); }
tr.color-4.selected, html.js tr.color-4 .nickname span:hover { background-color: hsl(162, 85%, 93%); }
tr.color-5.selected, html.js tr.color-5 .nickname span:hover { background-color: hsl(198, 85%, 93%); }
tr.color-6.selected, html.js tr.color-6 .nickname span:hover { background-color: hsl(234, 85%, 93%); }
tr.color-7.selected, html.js tr.color-7 .nickname span:hover { background-color: hsl(270, 85%, 93%); }
tr.color-8.selected, html.js tr.color-8 .nickname span:hover { background-color: hsl(306, 85%, 93%); }
tr.color-9.selected, html.js tr.color-9 .nickname span:hover { background-color: hsl(342, 85%, 93%); }
html.js tr.selected .nickname span:hover { background-color: white; }
html.js tr .nickname span { padding: 4px; border-radius: 8px; cursor: pointer; }

@media (max-width: 767px) {
    #flags { position: static; border: none; margin: 0; width: 100%; }
    .time { display: none; }
    .nickname, .message { padding-left: 5px; }
    .message { word-wrap: break-word; }
}
