DEBUG = True
LOG_DIR = './logs'
SYNONYM_PATH = './synonyms'
GROUP_THRES = 900 #seconds
LOG_TIMEZONE = 'Asia/Seoul'
SEARCH_RESULTS_PER_PAGE = 100
SECRET_KEY = 'secret' # Recommend os.urandom(24)
LANGDEV_APP_KEY = ''
LANGDEV_SECRET_KEY = ''
FLAG_DB = 'flag.db'
