<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">document.documentElement.className += ' js';</script>
	<meta charset="UTF-8" />
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top navbar-inverse navbar-global hidden-xs">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://langdev.org/">LangDev</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="http://langdev.org/posts/">Forum</a></li>
        <li class="active"><a href="http://log.langdev.org/">Log</a></li>
        <li><a href="http://topics.langdev.org/">Topics</a></li>
        <li><a href="http://links.langdev.org/">Links</a></li>
        <li><a href="http://docs.langdev.org/">Docs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text"><i class="glyphicon glyphicon-user"></i> {{ username }}</li>
        <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
    </ul>
</div>
{% block content %}
{% endblock %}
<a name="bottom"></a>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io/socket.io.min.js') }}"></script>
<script type="text/javascript">
function apply_noreferrer(element) {
    $(element).find('a:not([rel~="noreferrer"])').each(function(i, e) {
        e.setAttribute('rel', 'noreferrer external '  + e.getAttribute('rel'));
    });
}

function meariefy(href) {
    if (!href || href.match(/^http:\/\/fw\.mearie\.org\/./)) {
        return href;
    } else if (href.match(/^http:/)) {
        href = href.substr(7);
    } else if (href.match(/^https:/)) {
        href = '*' + href.substr(8);
    } else {
        return href;
    }
    if (href.match(/^[^\/]+$/)) {
        href += '/';
    }
    return 'http://fw.mearie.org/' + href;
}

$(function () {
    apply_noreferrer('.message');
    $('table').on('click', '.message a[rel~="external"]', function (event) {
        window.open(meariefy(this.getAttribute('href')));
        event.preventDefault();
    });
});
</script>
{% block js %}
{% endblock %}
</body>
</html>
