<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>#langdev log: {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript" src="http://log.langdev.org:8888/socket.io/socket.io.js"></script>
</head>
<body>
<div class="langdev__nav">
<div class="langdev__nav_inner">
<h3><a href="http://langdev.org/">LangDev</a></h3>
<ul>
<li><a href="http://langdev.org/posts/">Forum</a></li>
<li class="active"><a href="http://log.langdev.org/">Log</a></li>
<li><a href="http://topics.langdev.org/">Topics</a></li>
<li><a href="http://links.langdev.org/">Links</a></li>
<li><a href="http://docs.langdev.org/">Docs</a></li>
</ul>
</div>
</div>
{% block content %}
{% endblock %}
<a name="bottom"></a>
</body>
</html>
