{% extends "base.html" %}

{% block title %}{{ log.date }}{% endblock %}

{% block content %}
<div class="navbar navbar-default navbar-fixed-top navbar-log" data-spy="affix" data-offset-top="50">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle current-channel" data-toggle="dropdown">#{{ log.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
            {%- for chan in channels %}
                <li><a href="{{ url_for('log', channel=chan, date=log.date) }}">#{{ chan }}</a></li>
            {% endfor -%}
            </ul>
        </li>
        <li class="navbar-text date">{{ log.date }}</li>
        <li><a href="#bottom"><i class="glyphicon glyphicon-arrow-down"></i> 맨 아래로</a></li>
        <li><a href="http://links.langdev.org/{{ log.date.strftime('%Y/%m/%d') }}"><i class="glyphicon glyphicon-link"></i> 링크 모아보기</a></li>
    </ul>

    <form method="get" action="{{ url_for('search') }}" class="navbar-form navbar-right hidden-xs">
        <div class="form-group">
            <input type="text" name="q" value="" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">찾기</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ today.yesterday.url() }}">어제</a></li>
        <li><a href="{{ today.url() }}">오늘</a></li>
        <li><a href="{{ url_for('random') }}"><i class="glyphicon glyphicon-random"></i></a></li>
    </ul>
</div>

<div id="flags">
<h3>건너뛰기</h3>
<ul></ul>

<button id="refresh-flags">새로고침</button>
<button id="toggle-flag-mode">깃발 꽂기</button>
<p id="flag-mode-desc" style="display: none">깃발을 꽂기 원하는 줄의 시간 링크를 누르세요.</p>
</div>

<div id="content">
{% if options.recent %}
<div class="alert alert-info">
    최근 대화만 표시하고 있습니다.
    <a href="{{ log.url() }}" class="btn btn-default btn-sm">전체 보기</a>
    <a href="{{ log.url(options.recent + 30) }}" class="btn btn-default btn-sm">30분 더 보기</a>
</div>
{% endif %}

{% from 'macros.html' import message_rows %}
<table>
{% for group in messages %}
<thead><tr><td colspan="3" class="time-divider">{{ group[0].time.strftime("%H:%M") }}&ndash;</td></tr></thead>
<tbody>{{ message_rows(group) }}</tbody>
{% endfor %}
<tbody id="updates">
</tbody>
</table>

{% if log.is_today %}
<div id="enable-chat">
    <a href="#" class="btn btn-default btn-lg btn-block">대화 시작</a>
</div>

<form method="post" action="say" id="say" style="display: none" autocomplete="off">
    <div class="input-group">
        <input type="text" name="msg" id="msg" size="60" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">보내기</button>
        </span>
    </div>
</form>

<script type="text/javascript">
var from = {{ last_no + 1 }};
var nickname = '{{ username }}';
var channel = '{{ channel }}';

var socket;

var hidden, visibilityChange;
if (typeof document.hidden !== "undefined") {
    hidden = "hidden";
    visibilityChange = "visibilitychange";
} else if (typeof document.mozHidden !== "undefined") {
    hidden = "mozHidden";
    visibilityChange = "mozvisibilitychange";
} else if (typeof document.msHidden !== "undefined") {
    hidden = "msHidden";
    visibilityChange = "msvisibilitychange";
} else if (typeof document.webkitHidden !== "undefined") {
    hidden = "webkitHidden";
    visibilityChange = "webkitvisibilitychange";
}

var origTitle = document.title;
function handleVisibilityChange() {
    if (!document[hidden]) {
    	document.title = origTitle;
    }
}
function notifyUpdate() {
	if (document[hidden]) {
        document.title = '+ ' + origTitle;
    }
}

if (typeof document.addEventListener !== "undefined" &&
    typeof hidden !== "undefined") {
    // Handle page visibility change  
    document.addEventListener(visibilityChange, handleVisibilityChange, false);
}

$('#enable-chat a').click(function() {
	start_chat();
	return false;
});

function scroll_to_bottom() {
    $(window).scrollTop($(document).height() + 100000);
}

function start_chat() {
	$('#enable-chat').slideUp();
	$('#say').slideDown();
	_update_log(true);

    socket = io.connect(location.protocol + '//' + location.hostname + ':8888');

    socket.on('update', function () {
        _update_log();
    });
}

function _update_log(force_scroll) {
    var _from = from,
        $doc = $(document),
        $window = $(window),
        appendTarget = $('#updates');

    $.get('?from=' + _from, function (data) {
        if (from > _from) return;
        notifyUpdate();
        var willScroll = force_scroll || $doc.height() <= $window.scrollTop() + $window.height() + 20;
        appendTarget.append(data)
        apply_noreferrer(appendTarget);
        if (willScroll) {
        	scroll_to_bottom();
        }
    });
}

$('#say').submit(function(event) {
	event.preventDefault();
	var msg = $('#msg').val();
	if (!msg) return;
	socket.emit('msg', {nick: nickname, channel: channel, msg: msg});
	$('#msg').val('');
})
</script>
{% else %}
<hr>
<p class="text-center text-muted">* 로그의 끝입니다. *</p>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='flag.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='highlight.js') }}"></script>
{% endblock %}
