{% macro message_rows(messages) %}
{% for msg in messages %}
{% if msg.type == 'privmsg' %}
    <tr id="line{{ msg.no }}">
        <td class="time" title="{{ msg.time }}"><a href="#line{{ msg.no }}">{{ msg.time.strftime("%H:%M:%S") }}</a></td>
        <td class="nickname"><i>&lt;</i>{% if msg.is_bot %}<strong>낚지</strong>{% else %}{{ msg.nick }}{% endif %}<i>&gt;</i></td>
        <td class="message">{{ msg.text|urlize(nofollow=True) }}</td>
    </tr>
{% elif msg.type == 'join' %}
    <tr class="rejoin">
        <td class="time" title="{{ msg.time }}"><a href="#line{{ msg.no }}">{{ msg.time.time() }}</a></td>
        <td class="nickname"><i>&lt;</i><strong>낚지</strong><i>&gt;</i></td>
        <td class="message">** 낚지 부활! **</td>
    </tr>
{% endif %}
{% endfor %}
{% endmacro %}
